.title {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-left: 5vw;
  margin-top: 10vh;
  width: 60vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-25vw);
  opacity: 0;
  transition: 0.75s ease;
}

.title h1 {
  color: whitesmoke;
  margin-left: 10%;
  font-size: 1.75rem;
}

.imageGrid {
  width: 70vh;
  height: 70vh;
  margin: 0 5vw 5vw 14vw;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "img1 img1 img4"
    "img1 img1 img5"
    "img2 img3 img6";
  gap: 2vw;
  padding: 2vw;
}

.menuImage {
  border-radius: 10px;
  box-shadow: 0 0 25px -15px black;
}

#menu1 {
  grid-area: img1;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  transition: 1.75s ease;
}

#menu2 {
  grid-area: img2;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s ease;
}

#menu3 {
  grid-area: img3;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  transition: 0.75s ease;
}

#menu4 {
  grid-area: img4;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  transition: 1s ease;
}

#menu5 {
  grid-area: img5;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  transition: 1.25s ease;
}

#menu6 {
  grid-area: img6;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  transition: 1.5s ease;
}

.goAhead {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.125);
  padding: 20px;
  width: 60%;
  height: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease;
}

.goAhead:hover {
  box-shadow: 0 0 50px -20px whitesmoke;
  background: rgba(0, 0, 0, 0.25);
  font-size: 1.025rem;
}

.goAhead::before {
  content: "";
  width: 7.5px;
  height: 100%;
  background: rgba(55, 136, 95, 0.5);
  position: absolute;
  left: 0;
}

.goAhead::after {
  content: "";
  width: 7.5px;
  height: 100%;
  background: rgba(55, 136, 95, 0.5);
  position: absolute;
  right: 0;
}

#second-container {
  box-shadow: 0 0 50px -25px rgba(55, 136, 95);
  border-radius: 50px;
  width: 95vw;
  height: 80vh;
  margin: 10vh auto 0 auto;
}

#second-container #latImg {
  width: 30vw;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30vw;
  background-attachment: fixed;
  -moz-background-attachment: fixed;
  -ms-background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-image: url("/ncrBackground.png");
}

.grid {
  width: 75vw;
  height: 60vh;
  display: grid;
  grid-template-areas:
    "logo logo text3"
    "logo logo text4"
    "text1 text2 continue";
  text-align: center;
  padding: 50px;
  font-size: 0.85rem;
}

.grid::before {
  content: "";
  width: 35px;
  height: 35px;
  border-left: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
  position: absolute;
  left: 5%;
  top: 190%;
  border-radius: 2.5px;
}

.grid::after {
  content: "";
  width: 35px;
  height: 35px;
  border-right: 3px solid lightgray;
  border-top: 3px solid lightgray;
  position: absolute;
  left: 67.5%;
  top: 127%;
  border-radius: 2.5px;
}

.grid #logoIconGrid {
  grid-area: logo;
  width: 60%;
  align-self: center;
  justify-self: center;
  transition: 2.5s ease;
  transform: translateY(-50vw);
  opacity: 0;
}

.grid #t1 {
  grid-area: text1;
  align-self: center;
  justify-self: center;
  width: 100%;
  transition: 1s ease;
  transform: scale(0);
  opacity: 0;
}

.grid #t2 {
  grid-area: text2;
  align-self: center;
  justify-self: center;
  transition: 1.5s ease;
  transform: scale(0);
  opacity: 0;
}

.grid #t3 {
  grid-area: text3;
  align-self: center;
  justify-self: center;
  width: 75%;
  transition: 2s ease;
  transform: scale(0);
  opacity: 0;
}

.grid #t4 {
  grid-area: text4;
  align-self: center;
  justify-self: center;
  width: 75%;
  transition: 2.5s ease;
  transform: scale(0);
  opacity: 0;
}

.grid #continue {
  grid-area: continue;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative;
  padding: 50px;
  cursor: pointer;
  transition: 2s ease;
  transform: scale(0);
  opacity: 0;
}

.grid #continue svg {
  width: 2vw;
  height: 2vw;
  stroke: rgb(55, 136, 95);
  stroke-width: 2;
  fill: rgba(55, 136, 95, 0.75);
  animation: continueAnimation 1.5s ease infinite;
}

.specs {
  width: 17.5vw;
  height: 70vh;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2.5px 15px -7.5px black;
  cursor: pointer;
  opacity: 0;
  margin: 2.5vw;
  transform: scale(0);
  margin-top: 26.5vh;
}

#spec1 {
  transition: 0.75s ease;
}

#spec2 {
  transition: 1s ease;
  transform: scale(0);
}

#spec3 {
  transition: 1.25s ease;
  transform: scale(0);
}

#spec4 {
  transition: 1.5s ease;
  transform: scale(0);
}

.specs .specsImage {
  width: 100%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s ease;
}

#first-container {
  overflow: hidden;
}

#first-container #background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#third-container {
  position: relative;
  overflow: visible;
}

#third-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  filter: blur(5px);
}

.specs .specsFooter {
  width: 100%;
  height: 30%;
  background: rgb(55, 136, 95);
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.specs .specsFooter p {
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
}

@keyframes continueAnimation {
  0%,
  100% {
    position: absolute;
    top: 37.5%;
    right: 0;
  }

  50% {
    position: absolute;
    top: 42.5%;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  #first-container {
    flex-direction: row;
  }

  #first-container .imageGrid {
    width: 100vw;
    margin: 0;
    gap: 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "title title img4"
      "title title img5"
      "img2 img3 img6";
    height: 50vh;
  }

  .title {
    grid-area: title;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 90%;
    margin: 0 0 0 2vw;
  }

  #first-container #menu1 {
    display: none;
  }

  #first-container #menu2 {
    width: 75%;
    align-self: center;
    justify-self: center;
    display: none;
  }

  #first-container #menu3 {
    width: 75%;
    align-self: center;
    justify-self: center;
  }

  #first-container #menu4 {
    width: 75%;
    align-self: center;
    justify-self: center;
    display: none;
  }

  #first-container #menu5 {
    width: 75%;
    align-self: center;
    justify-self: center;
  }

  #first-container #menu6 {
    width: 75%;
    align-self: center;
    justify-self: center;
  }

  #third-container {
    flex-direction: column;
  }

  #third-container .specs {
    width: 90%;
    height: 20%;
  }

  #second-container .grid {
    overflow: hidden;
    height: 100%;
    grid-template-areas:
      "logo "
      "text1"
      "text2"
      "text3"
      "text4"
      "continue"
      "continue";
    text-align: center;
    padding: 25px;
    padding-top: 50px;
    gap: 10vh;
    font-size: 0.8rem;
  }

  #second-container #logoIconGrid {
    margin: 25px 0 50px 0;
    width: 50%;
  }

  #second-container .grid::before {
    left: 9.5%;
    top: 193.5%;
  }

  #second-container .grid::after {
    left: 57%;
    top: 124%;
  }

  #second-container #latImg {
    background-size: contain;
    background-image: url("/ncrBackground-mobile.png");
  }
}

@media screen and (min-width: 768px) {
  .grid img {
    width: 30%;
  }

  .grid {
    width: 83vw;
    height: 35vw;
  }

  .title {
    width: 30vw;
    height: 30vh;
    text-align: start;
    padding: 25px;
    position: absolute;
    left: 0;
    top: 27.5%;
  }

  .imageGrid {
    margin-left: 50%;
  }

  .title h1 {
    font-size: 2.4rem;
    margin: 0;
  }
}
