.navbar {
  background: whitesmoke;
  height: 10vh;
  width: 90vw;
  display: flex;
  align-items: center;
  border-radius: 0 0 45px 45px;
  justify-content: space-around;
  overflow: hidden;
  box-shadow: 0 1px 75px -35px black;
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  z-index: 2;
}

.navbar img {
  width: 13vw;
}

.navbar li {
  display: inline;
  margin: 30px;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.navbar .menu {
  display: none;
  cursor: pointer;
  z-index: 3;
  overflow: hidden;
}

.navbar .menu .bar {
  width: 35px;
  height: 5px;
  background: rgb(55, 136, 95);
  margin: 0.35vh;
  transition: 0.2s ease;
  border-radius: 25px;
}

.barToggle {
  background: white !important;
}

.barAnimationToggle:nth-child(1) {
  transform: rotate(45deg) translate(6px, 8px);
}

.barAnimationToggle:nth-child(2) {
  opacity: 0;
}

.barAnimationToggle:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -9px);
}

.latMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(50vw);
  background: rgb(55, 136, 95);
  width: 40vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s ease;
  z-index: 2;
}

.latMenu ul {
  margin-top: 10vh;
}

.latMenu ul li {
  text-align: start;
  display: block !important;
  margin: 12.5vh 12.5vh 22.5vh 27.5vw;
  font-size: 1.5rem;
}

.latMenu ul li a {
  color: white !important;
}

.latMenuShow {
  transform: translateX(0);
}

.blackAll {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s ease;
  opacity: 0;
}

.blackAllToggle {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .navbar img {
    width: 25vw;
  }

  .navbar li {
    display: none;
  }

  .navbar .menu {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .navbar img {
    width: 45vw;
  }
}

@media screen and (min-width: 768px) {
  .latMenu {
    display: none;
  }
}
